.project .pagination{
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 20px;
}
.project .control{
  padding-left: 7px;
  padding-right: 7px;
  width: 50%;
  font-weight: bold;
}
.project .prev{
  text-align: right;
}
.project .control:hover { 
  color: #cfdc3c;
}
