.name{
  flex-basis: 25%;
  padding-top: 30px;
  padding-left: 45px;
  padding-right: 45px;
}
.name h2{
  font-size: 1.4rem;
  line-height: 1;
  margin: 0;
  padding-bottom: 4px;
}
.name p{
  margin: 0;
}
.name-des{
  text-align: left;
}
.name-dev{
  text-align: right;
}
