.name{
  flex-basis: 25%;
  padding-top: 30px;
  padding-left: 45px;
  padding-right: 45px;
}
.name h2{
  font-size: 1.4rem;
  line-height: 1;
  margin: 0;
  padding-bottom: 4px;
}
.name p{
  margin: 0;
}
.name-des{
  text-align: left;
}
.name-dev{
  text-align: right;
}
@media (max-width: 991px){
  .name{
    flex-basis: 33%;
    padding-top: 27px;
    padding-left: 27px;
    padding-right: 27px;
  }
}
@media (max-width: 768px) and (orientation: portrait){
  .dev .name-dev{
    text-align: left;
  }
}
@media (max-width: 720px) and (orientation: landscape){
  .name-dev{
    text-align: left;
  }
  .name{
    flex-basis: 50%;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .name h2{
    font-size: 1.27rem;
  }
  .name p{
    font-size: .9rem;
  }
}
@media (max-width: 620px) and (orientation: portrait){
  .name{
    flex-basis: 50%;
    padding-top: 20px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (max-width: 420px) and (orientation: portrait){
  .name h2{
    font-size: 1.27rem;
  }
  .name p{
    font-size: .9rem;
  }
}
