.header > * {
  display: flex;
  justify-content: space-between;
}
.des.project .header > * {
  justify-content: space-between;
}
.des .header > div {
  justify-content: flex-start;
}
.dev .header > div {
  justify-content: flex-end;
}
.menu .title{
  padding-bottom: 0;
  padding-left: 45px;
}
/*keyword style*/
.keyword{
  flex-grow: 1;
  padding-top: 30px;
  padding-left: 45px;
  padding-right: 45px;
  font-size: .82rem;
}
.keyword span{
  color: #fefdfc;
  opacity: .6;
  display: inline-block;
}

/*keword overlay*/
.des .keyword{
  text-align: right;
}
.des .keyword span {
  transform-origin: 99%;
  transform: rotate(-90deg);
}
.dev .keyword{
  text-align: left;
}
.dev .keyword span {
  transform-origin: 1%;
  transform: rotate(-90deg) translateX(-100%);
}
.header  .menu-btn{
  display: none;
}
.des .header  .menu-btn,
.dev .header  .menu-btn,
.menu .header .menu-btn{
  display: flex;
}
@media (max-width: 991px){
  .menu .title{
    padding-left: 27px;
  }
  .keyword{
    padding-top: 23px;
    padding-left: 27px;
    padding-right: 27px;
  }
}
@media (max-width: 768px) and (orientation: portrait){
  .header{
    position: relative;
  }
  .dev .header > div {
    flex-direction: row-reverse;
  }
  .keyword{
    padding-top: 120px;
    z-index: 0;
  }
  .dev .keyword{
    text-align: right;
  }
  .dev .keyword span {
    transform-origin: 99%;
    transform: rotate(-90deg);
  }
  .name-dev{
    display: none;
  }
  .des .header  .name-dev,
  .dev .header  .name-dev,
  .menu .header .name-dev{
    display: block;
  }
  .header  .menu-btn{
    display: flex;
  }
}

@media (max-width: 620px) and (orientation: portrait){
  .menu .title{
    padding-left: 18px;
    padding-top: 20px;
    font-size: 2.3rem;
  }
  .keyword{
    display: none;
  }
}
