@keyframes enter-disappear{
  0% { opacity: 0;  }
  100% { opacity: 1; }
}
.enter .background,
.enter .footer,
.enter .header,
.enter .main,
.enter .zen-box .description,
.enter .sibtitle,
.enter .e404{
  animation: enter-disappear 0.7s ease-in-out;
}
@keyframes leave-disappear{
  0% { opacity: 1;  }
  100% { opacity: 0; }
}
.leave .background,
.leave .footer,
.leave .header,
.leave .main,
.leave .zen-box .description{
  opacity: 0;
  animation: leave-disappear 0.7s ease-in-out;
}


.desc-wrap,
.title{
  overflow: hidden;
}
.title span{
  display: inline-block;
}
@keyframes enter-title{
  0% { transform: translateX(-240%);  }
  100% { transform: translateX(0); }
}
.enter .title span{
  animation: enter-title 0.7s ease-in-out;
}
@keyframes leave-title{
  0% { transform: translateX(0);  }
  100% { transform: translateX(-240%); }
}
.leave .title span{
  transform: translateX(-240%);
  animation: leave-title 0.7s ease-in-out;
}

@keyframes enter-text{
  0% { transform: translateY(240px);  }
  100% { transform: translateY(0px); }
}
.enter .term,
.enter .desc,
.enter .project-name,
.enter .project-filter,
.enter .text-block .more-info{
  animation: enter-text 0.7s ease-in-out;
}
@keyframes leave-text{
  0% { transform: translateY(0px);  }
  100% { transform: translateY(240px); }
}
.leave .term,
.leave .desc,
.leave .project-name,
.leave .project-filter,
.leave .text-block .more-info{
  transform: translateY(240px);
  animation: leave-text 0.7s ease-in-out;
}

.pic .cover{
  overflow: hidden;
}
@keyframes enter-desc{
  0% { opacity: 0;  }
  80% { opacity: 0;  }
  100% { opacity: 1; }
}
.enter-desc.desc{
  animation: enter-desc 0.7s ease-in-out;
}
@keyframes leave-desc{
  0% { opacity: 1;  }
  60% { opacity: 0;  }
  100% { opacity: 0; }
}
.leave-desc.desc{
  transform: translateX(-540%);
  animation: leave-desc 0.7s ease-in-out;
}

.zen-box div,
.e404 .item{
  overflow: hidden;
}
@keyframes enter-zen-box{
  0% { transform: translateX(-240%);  }
  100% { transform: translateX(0%); }
}
.enter .zen-box span,
.enter .e404 span{
  animation: enter-zen-box 0.7s ease-in-out;
}
@keyframes leave-zen-box{
  0% { transform: translateX(0);  }
  100% { transform: translateX(-240%); }
}
.leave .zen-box span,
.leave .e404 span{
  transform: translateX(-240%);
  animation: leave-zen-box 0.7s ease-in-out;
}

.pic .cover{
  overflow: hidden;
}
.pic .jalousie{
  animation: enter-pic 0.7s ease-in-out;
}
@keyframes enter-pic{
  0% { transform: translateX(-240%);  }
  100% { transform: translateX(0%); }
}
.pic.enter-pic .jalousie,
.enter .pic .jalousie{
  animation: enter-pic 0.7s ease-in-out;
}
@keyframes leave-pic{
  0% { transform: translateX(0);  }
  100% { transform: translateX(-240%); }
}
.pic.leave-pic .jalousie,
.leave .pic .jalousie{
  transform: translateX(-240%);
  animation: leave-pic 0.7s ease-in-out;
}

/*menu*/

@keyframes open-menu{
  0% { transform: translateY(820%); opacity: 0; }
  20% { opacity: 0; }
  100% { opacity: 1; transform: translateY(0%);}
}
.enter.menu ul li:nth-child(1){
  animation: open-menu 0.1s ease-in-out;
}
.enter.menu ul li:nth-child(2){
  animation: open-menu 0.2s ease-in-out;
}
.enter.menu ul li:nth-child(3){
  animation: open-menu 0.35s ease-in-out;
}
.enter.menu ul li:nth-child(4){
  animation: open-menu 0.5s ease-in-out;
}
.enter.menu ul li:nth-child(5){
  animation: open-menu 0.7s ease-in-out;
}
@keyframes close-menu{
  0% { opacity: 1; transform: translateY(0%);}
  80% { opacity: 0; }
  100% { transform: translateY(820%); opacity: 0; }
}
.leave.menu ul li:nth-child(1){
  animation: close-menu 0.3s ease-in-out 0.4s;
}
.leave.menu ul li:nth-child(2){
  animation: close-menu 0.4s ease-in-out 0.3s;
}
.leave.menu ul li:nth-child(3){
  animation: close-menu 0.5s ease-in-out 0.2s;
}
.leave.menu ul li:nth-child(4){
  animation: close-menu 0.6s ease-in-out 0.1s;
}
.leave.menu ul li:nth-child(5){
  animation: close-menu 0.7s ease-in-out 0.0s;
}
@keyframes open-menu-desc{
  0% { opacity: 0;}
  100% { opacity: 1; }
}
.enter.menu ul li a .desc{
  animation: open-menu-desc 0.05s ease-in-out;
}
.leave.menu ul li a .desc{
  display: none;
}

@keyframes menu-hover{
  0% { transform: scaleY(0.1);}
  100% { transform: scaleY(1); }
}
.menu a.active:before,
.menu a:active:before,
.menu a:hover:before{
  transform-origin: top;
  animation: menu-hover 0.2s ease-in-out;
}
@keyframes enter-project-title{
  0% { transform: translateY(-400%); opacity: 0; }
  100% { opacity: 1; transform: translateY(0%);}
}
.enter.project .text-block .title{
  animation: enter-project-title 0.7s ease-in-out;
}
.enter.project .text-block .title span,
.leave.project .text-block .title span{
  animation:none;
  transform: translateX(0%);
}
@keyframes leave-project-title{
  0% { transform: translateY(0%); opacity: 0; }
  100% { opacity: 1; transform: translateY(-400%);}
}
.leave.project .text-block .title{
  transform: translateX(0%);
  animation: leave-project-title 0.7s ease-in-out;
}
@keyframes enter-disappear2{
  0% { opacity: 0;  }
  70% { opacity: 0;  }
  100% { opacity: 1; }
}
.enter.project .desc,
.enter.project .pagination,
.enter.project .image,
.enter.project .presentation{
  transform: translateX(0%);
  animation: enter-disappear2 .7s ease-in-out;
}
.leave.project .desc,
.leave.project .pagination,
.leave.project .image,
.leave.project .presentation{
  transform: translateX(0%);
  animation: leave-disappear .7s ease-in-out;
}
@keyframes enter-disappear-image{
  0% {  transform: translateY(50%);   }
  30% {  transform: translateY(10%);   }
  100% {   transform: translateY(0%);  }
}
.enter.project .image{
  transform: translateX(0%);
  animation: enter-disappear-image 1.4s ease-in-out;
}
@keyframes leave-disappear-image{
  0% { opacity: 1; transform: translateY(0%);  }
  70% { opacity: 0; transform: translateY(10%);   }
  100% { opacity: 0; transform: translateY(50%);  }
}
.leave.project .image{
  transform: translateX(0%);
  animation: leave-disappear-image .7s ease-in-out;
}

@keyframes project-name-active{
  0% { transform: scaleX(0.1);}
  100% { transform: scaleX(1); }
}
.active.project-name::before{
  transform-origin: left;
  animation: project-name-active 0.2s ease-in-out;
}

/*
@keyframes leave-menu-btn-close1{
  0% {
    transform: rotate(0);
    left: 0;
  }
  80% {
    transform: rotate(45deg);
    left: -5px;
  }
}
.leave .menu-btn.isClosed  button::before{
  animation: leave-menu-btn-close1 0.5s ease-in-out 0.2s ;
}
@keyframes leave-menu-btn-close2{
  0% {
    transform: rotate(0);
    left: 0;
    top: 0;
  }
  80% {
    transform: rotate(-45deg);
    left: -5px;
    top: -5px;
  }
}
.leave .menu-btn.isClosed  button::after{
  animation:  leave-menu-btn-close2 0.5s ease-in-out  0.2s;
}*/
