@charset "UTF-8";

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.woff');
}
@font-face {
  font-family: OpenSans;
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/OpenSans-Bold.woff');
}
@font-face {
  font-family: OpenSans;
  font-style: extrabold;
  font-weight: 800;
  src: url('../fonts/OpenSans-ExtraBold.woff');
}
@font-face {
  font-family: HelvenicaHeavy;
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/HelveticaNeueCyr-Heavy.woff');
}

html{
  font-size: 15pt;
  font-family: OpenSans, sans-serif;
  color: #fff;
  min-width: 320px;
  box-sizing: border-box;
}
html *{
  box-sizing: border-box;
}
.content,
.shell{
  overflow: hidden;
}

/*text style*/
.title{
  margin: 0;
  padding-top: 40px;
  padding-bottom: 50px;
  font-size: 3.2rem;
  line-height: 1;
}
.term{
  font-size: .8rem;
  flex-basis: 21%;
  flex-shrink: 0;
  line-height: 1.45;
  height: 100%;
}
.desc{
  font-size: .87rem;
  line-height: 1.45;
}

/*text-block overlay*/
.text-block{
  padding-left: calc(12.5% + 10px);
}
.dev .text-block{
  padding-right: 12.5%;
  margin-left: 50%;
  padding-left: 70px;
}
.text-block .desc{
  display: flex;
  flex-wrap: wrap;
}
.dev .text-block .desc span{
  flex-basis: 33.3%;
}
.text-block{
  width: 50%;
  height: 100%;
}
.text-block .desc-wrap{
  display: flex;
  padding-bottom: 35px;
  padding-right: 50px;
}
.text-block .desc a:link{
  text-decoration: none;
  color: inherit;
}
.text-block .desc img{
  margin-bottom: -3px;
  padding-right: 15px;
}
.text-block .project-name{
  text-transform: uppercase;
  padding-right: 20px;
  cursor: pointer;
}

@media (max-width: 1370px){
  html{
    font-size: 15px;
  }
}
