@charset "UTF-8";

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.woff');
}
@font-face {
  font-family: OpenSans;
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/OpenSans-Bold.woff');
}
@font-face {
  font-family: OpenSans;
  font-style: extrabold;
  font-weight: 800;
  src: url('../fonts/OpenSans-ExtraBold.woff');
}

html{
  font-size: 15pt;
  font-family: OpenSans, sans-serif;
  color: #fff;
  min-width: 320px;
  box-sizing: border-box;
}
.shell{
  min-width: 320px;
}
html *{
  box-sizing: border-box;
}
a:link,
a:visited,
a:hover,
a:active{
  text-decoration: none;
  color: #fff;
  outline: none;
}
.content,
.shell{
  overflow: hidden;
  max-width: 100%;
}
.shell,
.shell.des{
  background-color: #889aa0;
}
.shell.dev{
  background-color: #5e5972;
}
/*text style*/
.title{
  margin: 0;
  padding-top: 40px;
  padding-bottom: 50px;
  font-size: 3.2rem;
  line-height: 1;
}
.term{
  font-size: .8rem;
  flex-basis: 21%;
  flex-shrink: 0;
  line-height: 1.45;
  height: 100%;
  opacity: .6;
}
.dev .term{
  opacity: .5;
}
.desc{
  font-size: .87rem;
  line-height: 1.45;
}
.more-info{
  font-weight: 700;
  transition: .3s ease-out;
}
a.more-info:hover,
a.more-info:active{
  color: #cfdc3c;
}
.active{
  color: #cfdc3c;
}
.hidden{
  display: none !important;
}
.active.project-name{
  color: #fff;
  position: relative;
}
.active.project-name::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: -10px;
  width: 28px; /*для max1340*/
  height: 6px;
  background-color: #cfdc3c;
}
.dev .active.project-name::before {
  display: none;
}

/*text-block overlay*/
.text-block{
  padding-left: calc(12.5% + 10px);
}
.dev .text-block{
  padding-right: 12.5%;
  margin-left: 50%;
  padding-left: 70px;
}
.text-block .desc{
  display: flex;
  flex-wrap: wrap;
}
.dev .text-block .desc span{
  flex-basis: 33.3%;
}
.des .text-block .desc span{
  flex-basis: 99%;
}
.text-block{
  width: 50%;
  height: 100%;
}
.text-block .desc-wrap{
  display: flex;
  padding-bottom: 35px;
  padding-right: 50px;
}
.text-block .desc a:link{
  text-decoration: none;
  color: inherit;
}
.text-block .desc img{
  margin-bottom: -3px;
  padding-right: 15px;
}
.text-block .project-name,
.text-block .project-filter{
  text-transform: uppercase;
  padding-right: 20px;
  cursor: pointer;
}
.text-block .project-filter{
  font-weight: bold;
}
.des .text-block .project-name{
  text-transform: none;
}
.picture-link{
  position: absolute;
  width: calc( 50%);
  height: 100%;
  top: 0;
  left: 50%;
  padding-right: 12.5%;
}
.picture-link a:link{
  color: transparent;
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 1370px){
  html{
    font-size: 15px;
  }
}

@media (max-width: 991px){
.title{
  padding-top: 20px;
  padding-bottom: 40px;
}
.text-block{
  padding-left: 70px;
}
.dev .text-block{
  padding-right: 27px;
  padding-left: 27px;
}
.text-block .desc-wrap{
  padding-right: 27px;
}
}
@media (max-width: 900px) and (orientation: landscape){
  .edu{
    visibility: hidden;
    position: absolute;
  }
}
@media (max-width: 850px) and (orientation: landscape){
.title{
  padding-top: 17px;
  padding-bottom: 21px;
  font-size: 2.7rem;
}
.term{
  flex-basis: 25%;
}
.text-block{
  padding-left: 27px;
}
.text-block .desc-wrap{
  padding-bottom: 15px;
}
.text-block .project-name{
  font-size: .95em;
  padding-right: 12px;
}
}
@media (max-width: 768px) and (orientation: landscape){
.title{
  padding-top: 12px;
}
.text-block .desc-wrap a img{
  display: none;
}
.dev.port .term{
  flex-basis: 35%;
}
.dev.port .text-block .desc span{
  flex-basis: 50%;
}
}
@media (max-width: 768px) and (orientation: portrait){
.text-block{
  width: 75%;
  padding-left: 33px;
}
.term{
  flex-basis: 20%;
}
.text-block .desc-wrap{
  padding-bottom: 30px;
}
.picture-link{
  position: absolute;
  width: 100%;
  height: 35%;
  top: auto;
  bottom: 70px;
  left: 0%;
  padding-right: 0;
}
.dev .text-block{
  padding-right: 0;
  margin-left: 0;
  padding-left: 33px;
}
}
@media (max-width: 720px) and (orientation: landscape){
  .text-block,
  .dev .text-block{
    width: 100%;
    padding-left: 12px;
    margin-left: 0;
  }
  .title{
    padding-top: 4px;
    padding-bottom: 12px;
    font-size: 2.1rem;
  }
  .text-block .desc-wrap{
    padding-bottom: 4px;
  }
  .term{
    flex-basis: 15%;
  }
  .dev.port .term{
    flex-basis: 17%;
  }
  .dev.port .text-block .desc span{
    flex-basis: 25%;
  }
  .picture-link{
    display: none;
  }
}
@media (max-width: 620px) and (orientation: portrait){
  .text-block,
  .dev .text-block{
    width: 100%;
    padding-left: 12px;
  }
  .title{
    padding-bottom: 25px;
    font-size: 2.33rem;
  }
  .text-block .desc-wrap{
    padding-bottom: 25px;
  }
  .term{
    flex-basis: 26%;
  }
  .picture-link{
    display: none;
  }
  .text-block .project-name{
    font-size: .9rem;
    padding-right: 12px;
  }
}
