.e404{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.e404 .error-title{
  display: flex;
  padding: 0;
  font-size: 14.5rem;
  font-weight: bold;
}
.e404 .error-title .item{
  display: flex;
  line-height: .95;
}
.e404 .error-title .item.four{
  color: #cfdc3c;
}
.e404 .error-sibtitle{
  padding-bottom: 3.5%;
  font-size: 3.2rem;
  font-weight: bold;
}
.e404 a{
  font-weight: bold;
}
.isE404 .footer {
  visibility: collapse;
}
@media (max-width: 850px) and (orientation: landscape){
  .e404 .error-title {
    font-size: 10rem;
  }
  .e404 .error-sibtitle{
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) and (orientation: portrait){
  .e404 .error-sibtitle{
    padding-bottom: 12%;
  }
}
@media (max-width: 720px) and (orientation: landscape){
  .e404 .error-title {
    font-size: 8rem;
  }
  .e404 .error-sibtitle{
    font-size: 2.1rem;
  }
}
@media (max-width: 620px) and (orientation: portrait){
  .e404 .error-title {
    font-size: 12.6rem;
  }
  .e404 .error-sibtitle{
    padding-bottom: 10%;
    font-size: 2.8rem;
  }
  .e404 a{
    padding-bottom: 21%;
  }
}
@media (max-width: 420px) and (orientation: portrait){
  .e404 .error-title {
    font-size: 10rem;
  }
  .e404 .error-sibtitle{
    font-size: 2.6rem;
  }
}
