.footer{
  display: flex;
  align-items: flex-end;
}
.footer .lang{
  display: flex;
  width: 12.5%;
  margin: 0;
  padding-bottom: 30px;
  padding-left: 45px;
  cursor: pointer;
}
.footer li{
  list-style-type: none;
  text-transform: uppercase;
  padding-right: 7px;
}
.footer li.active{
  color: #cfdc3c;
  font-weight: 800;
}
.footer .more-info{
  display: none;
  width: 25%;
  padding-bottom: 30px;
  padding-left: 12px;
  text-align: left;
}
.dev .footer .more-info{
  width: 25%;
  margin-left: 37.5%;
  padding-left: 60px;
  text-align: left;
}

.des .footer .more-info.about-des{
  display: block;
}
.dev .footer .more-info.about-dev{
  display: block;
}
.port.dev .footer .more-info.about-dev,
.port.des .footer .more-info.about-des{
  display: none;
}
.project .footer{
  display: none;
}
@media (max-width: 991px){
  .footer .lang{
    width: 16.7%;
    padding-bottom: 27px;
    padding-left: 27px;
  }
  .footer .more-info{
    width: 33.3%;
    padding-bottom: 27px;
    padding-left: 6px;
  }
  .dev .footer .more-info{
    width: 33.3%;
    margin-left: calc(33% + 27px);
    padding-left: 0px;
  }
}
@media (max-width: 768px){
  .footer .name{
    flex-basis: 83.3%;
    padding-right: 27px;
    padding-bottom: 27px;
  }
  .dev .footer .more-info{
    margin-left: 27px;
  }
  .menu .footer .name,
  .des .footer .name,
  .dev .footer .name{
    display: none;
  }
}
@media (max-width: 620px){
  .footer .name{
    padding-right: 12px;
    padding-bottom: 20px;
  }
  .footer .lang{
    width: 25%;
    padding-bottom: 20px;
    padding-left: 12px;
  }
  .footer .more-info,
  .dev .footer .more-info{
    width: 50%;
    margin-left: 0;
    padding-bottom: 20px;
    text-align: center;
  }
}
