.footer{
  display: flex;
  align-items: flex-end;
}
.footer .lang{
  display: flex;
  width: 12.5%;
  margin: 0;
  padding-bottom: 30px;
  padding-left: 45px;
  cursor: pointer;
}
.footer li{
  list-style-type: none;
  text-transform: uppercase;
  padding-right: 7px;
}
.footer li.active{
  color: #cfdc3c;
  font-weight: 800;
}
.footer .more-info{
  display: none;
  width: 12.5%;
  padding-bottom: 30px;
  padding-left: 12px;
  text-align: left;
}
.dev .footer .more-info{
  width: 25%;
  margin-left: 37.5%;
  padding-left: 60px;
  text-align: left;
}

.des .footer .more-info.about-des{
  display: block;
}
.dev .footer .more-info.about-dev{
  display: block;
}
.port.dev .footer .more-info.about-dev,
.port.des .footer .more-info.about-des{
  display: none;
}
