.dev .about{
  padding-right: 12.5%;
  margin-left: 50%;
  padding-left: 60px;
}
.dev .about .desc{
  display: flex;
}
.dev .about .desc{
  flex-wrap: wrap;
}
.dev .about .desc span{
  flex-basis: 33.3%;
}
