.menu-btn{
  display: flex;
  overflow: hidden;
  width: 25%;
  padding-top: 30px;
  padding-left: 70px;
  padding-right: 50px;
}
.menu-btn:focus{
  outline: none;
}
.des .menu-btn{
  flex-direction: row-reverse;
}
.menu .menu-btn{
  width: auto;
  padding-top: 40px;
}

.menu-btn a,
.menu-btn.isOpend .close-btn{
  position: relative;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  width: 70px;
  height: 100%;
}
.menu-btn a::before,
.menu-btn a::after,
.menu-btn.isOpend .close-btn::before,
.menu-btn.isOpend .close-btn::after{
  content: '';
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 33px;
  height: 7px;
  z-index: 0;
}
.des .menu-btn a::before,
.des .menu-btn a::after{
  left: auto;
  right: 0;
}
.menu-btn a::before{
  border-top: 1px solid #fff;
}
.menu-btn a::after{
  border-bottom: 1px solid #fff;
}
.menu-btn.isOpend .close-btn::before{
  border-bottom: 1px solid #fff;
  transform: rotate(45deg);
  left: auto;
  right:-5px;
  transition: ease-in-out 0.3s;
}
.menu-btn.isOpend .close-btn::after{
  transform: rotate(-45deg);
  left: auto;
  right: 0px;
  top: 9px;
  transition: ease-in-out 0.3s;
  border-bottom: 1px solid #fff;
}
.menu-btn a:focus,
.close-btn:focus{
  opacity: .7;
}

@media (max-width: 991px){
  .menu-btn{
    width: 16.7%;
    padding-top: 23px;
    padding-left: 27px;
    padding-right: 27px;
  }
  .menu .menu-btn{
    padding-top: 27px;
  }
  .dev .menu-btn{
    flex-direction: row-reverse;
  }
}
@media (max-width: 768px) and (orientation: portrait){
  .menu-btn{
    width: 16.7%;
    padding-top: 23px;
    padding-left: 27px;
    padding-right: 27px;
    flex-direction: row-reverse;
  }
  .des .menu-btn,
  .dev .menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 23px;
    padding-right: 27px
  }
  .menu .menu-btn{
    padding-top: 27px;
  }
  .menu-btn a,
  .menu-btn.isOpend .close-btn{
    height: 60px;
    z-index: 101;
  }
}
@media (max-width: 720px) and (orientation: landscape){
  .menu-btn{
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .menu .menu-btn{
    padding-top: 18px;
  }
}
@media (max-width: 620px) and (orientation: portrait){
  .menu-btn{
    padding-top: 15px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .des .menu-btn,
  .dev .menu-btn{
    padding-top: 15px;
    padding-right: 12px;
  }
  .menu .menu-btn{
    padding-top: 23px;
  }
}
