.background{
  background-image: url('./bg.png'),
  -webkit-linear-gradient(left, #889aa0 50%, #5e5972 50%);
  background: url('./bg.png'),
  -o-linear-gradient(left, #889aa0 50%, #5e5972 50%);
  background: url('./bg.png'),
  linear-gradient(to right, #889aa0 50%, #5e5972 50%);
  background-size: auto 100%;
  background-position: 50% center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.des .background{
  background-image: url('./bg-about-des.png');
  background-color: #889aa0;
  background-size: cover;
}
.des.port .background{
  background-image: url('./bg-port-des.png');
}
.dev .background{
  background-image: url('./bg-about-dev.png');
  background-color: #5e5972;
  background-size: cover;
}
.dev.port .background{
  background-image: url('./bg-port-dev.png');
}
