.background{
  background: url('./bg.png'),
  -webkit-linear-gradient(left, #889aa0 50%, #5e5972 50%);
  background: url('./bg.png'),
  -o-linear-gradient(left, #889aa0 50%, #5e5972 50%);
  background: url('./bg.png'),
  linear-gradient(to right, #889aa0 50%, #5e5972 50%);
  background-size: auto 100%;
  background-position: 50% center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.background.des{
  background: url('./bg.png'), #889aa0;
  background-size: auto 100%;
  background-position: 50% center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.background.dev{
  background: url('./bg.png'), #5e5972;
  background-size: auto 100%;
  background-position: 50% center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
